/* Play */
@font-face {
  font-display: swap;
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/play-v19-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Play";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/play-v19-latin-700.woff2") format("woff2");
}

/* Roboko */
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v32-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v32-latin-700.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto-v32-latin-900.woff2") format("woff2");
}

:root {
  --color-primary: #2b7fff;
  --color-primary-dark: #011c44;
  --color-primary-light: #ffffff;
  --color-text: #000;
  --color-forms: #747272;
  --color-secondary-forms: #4a4a4a;
  --font-title-accent: "Play", sans-serif;
}

/* Base */
* {
  box-sizing: border-box;
}

body {
  color: var(--color-primary-dark);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

address {
  font-style: normal;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.visualy-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.section {
  padding: 48px 0;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
}

/* Button */
.button {
  padding: 16px 32px;
  color: var(--color-primary-light);
  font-weight: 700;
  border-radius: 32px;
  background-color: var(--color-primary);
  border: 2px solid var(--color-primary);
  cursor: pointer;
}

.button:hover {
  color: var(--color-primary-dark);
  background-color: transparent;
}

.button .accent {
  font-weight: 600;
}

/* Header */
.header-container {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 40px;
}

.header-menu {
  display: flex;
  gap: 56px;
  flex-grow: 1;
  justify-content: center;
}

.header-item {
  margin-right: 56px;
}

.header-icon {
  display: flex;
  align-items: flex-start;
  gap: 32px;
}

.header-link {
  color: var(--color-primary-dark);
  text-align: center;
  text-decoration: none;
}

.header-link:hover {
  color: var(--color-primary);
}

/* Hero section */
.hero-section {
  padding: 124px 0 127px 0;
}

.hero-title {
  margin-bottom: 40px;
  color: var(--color-primary);
  font-family: var(--font-title-accent);
  font-size: 140px;
  font-weight: 700;
  line-height: 0.8;
  text-transform: capitalize;
  text-align: left;
}

.hero-text {
  font-size: 12px;
  line-height: 1.5;
}

/* Information section */
.information-section {
  padding-bottom: 88px;
}

.information-title {
  margin-bottom: 40px;
}

.section-title-information {
  font-size: 64px;
  font-weight: 700;
  text-align: left;
}

.information-text {
  font-size: 22px;
  line-height: 1.7;
}

.information-text span {
  font-weight: 600;
  text-transform: capitalize;
}

/* Title section */
.section-title {
  font-size: 64px;
  font-weight: 700;
  text-align: center;
}

.section-title .accent {
  color: var(--color-primary);
  font-family: var(--font-title-accent);
}

.accent-brand {
  color: var(--color-primary);
  font-family: var(--font-title-accent);
  text-transform: capitalize;
}

/* Advantages section */
.advantages-section {
  padding: 88px 0 48px 0;
}

.advantages-title {
  margin-bottom: 48px;
}

.advantages-item {
  color: var(--color-text);
  line-height: 1.3;
  text-align: center;
}

/* Procedures section */
.procedures-title {
  margin-bottom: 48px;
}

.procedure-title {
  color: var(--color-primary-light);
  font-size: 22px;
  line-height: 1.2;
  text-align: center;
}

/* Contact section */
.contacts-title {
  margin-bottom: 48px;
}

/* Footer */
.footer-link {
  color: var(--color-primary-light);
  font-size: 16px;
  text-decoration: none;
}

.footer-link:hover {
  color: var(--color-primary);
}

.address-copyright {
  font-size: 13px;
}
