/* Сброс стандартных стилей */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  background-color: #f5f7fa;
  color: #333;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Шапка */
.header {
  background: rgba(255, 255, 255, 0.9);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
  padding: 20px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu {
  display: flex;
  list-style: none;
}

.header-item {
  margin: 0 15px;
}

.header-link {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: color 0.3s;
}

.header-link:hover {
  color: #007bff;
}

.header-icon {
  display: flex;
  list-style: none;
}

.header-icon li {
  margin-left: 15px;
}

.header-icon a {
  font-size: 20px;
  color: #333;
  text-decoration: none;
  transition: color 0.3s;
}

.header-icon a:hover {
  color: #007bff;
}

/* Hero-секция */
.hero-section {
  margin-top: 100px; /* Отступ для фиксированного меню */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  padding: 60px 0;
}

.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-text-content {
  max-width: 50%;
}

.hero-title {
  margin-bottom: 40px;
  font-size: 18px;
  font-weight: 400;
}

.hero-accent {
  color: var(--color-brand-normal);
  font-family: var(--font-title);
  font-size: 140px;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 0.8;
}

/* .hero-subtitle {
  font-size: 20px;
  color: #555;
}

.hero-title {
  font-size: 64px;
  font-weight: bold;
  color: #007bff;
  margin: 20px 0; */

.hero-description {
  margin: 20px 0;
  font-size: 18px;
  color: #666;
}

.button {
  background: #007bff;
  color: #fff;
  border: none;
  padding: 15px 30px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.button:hover {
  background: #0056b3;
}

.hero-image img {
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
