:root {
  --color-brand-normal: #2b7fff;
  --color-brand-dark: #011c44;
  --color-brand-light: #ffffff;
  --color-text: #000;
  --color-secondary-light: #747272;
  --color-secondary-dark: #4a4a4a;
  --font-title: 'Play', Arial, sans-serif;
}
