.footer {
  padding: 56px 0;
  position: relative;
  background-image: url('../images/footer-background.png');
  background-color: var(--color-brand-dark);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.footer::after {
  position: absolute;
  width: 250px;
  height: 150px;
  bottom: 0;
  right: 0;
  background-repeat: no-repeat;
  background-image: url('../images/decor-cosmetic.png');
  content: '';
}

.footer-container {
  display: flex;
  gap: 20px;
}

.footer-nav,
.footer-address {
  display: flex;
  flex-basis: 50%;
  gap: 20px;
}

.footer-link {
  color: var(--color-brand-light);
  font-size: 16px;
  text-decoration: none;
  transition: color 0.2s;
  margin-bottom: 16px;
}

.footer-link:hover {
  color: var(--color-brand-normal);
}

.footer-logo,
.footer-menu {
  flex-grow: 1;
  gap: 20px;
}

.address-list,
.address-info {
  flex-grow: 1;
}

.footer-icon {
  fill: var(--color-brand-light);
  transition: color 0.2s;
}

.footer-icon:hover {
  fill: var(--color-brand-normal);
}

.address-copyright {
  color: var(--color-secondary-light);
  font-size: 13px;
}
