.form-terms {
  margin: 0 auto;
  max-width: 220px;
  color: var(--color-secondary-light);
  font-size: 12px;
  line-height: 1.5;
  text-align: center;

  &__link {
    color: var(--color-secondary-light);
    font-size: 12px;
    line-height: 1.5;
    text-underline-offset: 2px;
  }
}
