.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(1, 31, 74, 0.4);
  padding: 20px 0;
  transition: opacity 0.3s, visibility 0.3s;

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.modal {
  position: relative;
  width: 100%;
  max-width: 720px;
  height: 100%;
  max-height: 680px;
  padding: 42px 144px;
  background-image: url(../images/modal-backgrount.png);
  background-color: var(--color-brand-dark);
  border-radius: 48px;

  &__close-btn {
    position: absolute;
    top: 40px;
    right: 40px;
  }

  &__title {
    color: var(--color-brand-light);
    font-family: var(--font-title);
    margin-bottom: 40px;
    font-size: 64px;
    font-weight: 700;
    text-align: center;
  }

  &__subtitle-form {
    margin: 0 auto 32px;
    color: var(--color-brand-light);
    width: 276px;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
  }

  &__form-field {
    margin-bottom: 24px;
  }

  &__button {
    display: block;
    width: 240px;
    margin: 0 auto 8px;

    &:hover {
      color: var(--color-brand-light);
    }
  }
}
